.header_inner {
    display          : flex;
    align-items      : center;
    justify-content  : space-between;
    background-color : var(--blue200);
    height           : var(--header_height);
    padding          : 1rem;
    border-bottom: 1.8px groove;
}

.header_logo {
    margin-left : 10px;
}

.header_nav {
    
}

.header_nav_ul {

    li {
        display : inline-block;
        padding : 0 26px;

        &:hover {
            cursor: pointer;

            a:after, a:before {
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                border-color: var(--black);
                transition: width 350ms ease-in-out;
                width: 100%;
            }
    
            a:before {
                width: 100%;
            }
        }

        a {
            letter-spacing: 0;
            transition: 0.35s;
            color : var(--black);
            font-size: 17px;
            font-weight: 400;
            padding : 15px 25px;
            
            position: relative;
            text-decoration: none;
            
            &:hover, &:active{
                transition: 0.35s;
            }

        }

        a::after {
            bottom:-10px;
        }

        a::before {
            top: -10px;
        }

        a::after, a::before {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border: 1px solid rgba(255, 255, 255, 0);
            content: " ";
            margin: 0 auto;
            position: relative;
            display: block;
            transition: all 280ms ease-in-out;
            width: 0;
        }

       
    }
   
}

.content_layout {
    margin : 0 auto;
    padding : 55px 0;
    width : 1220px;
}

.content_Title_Layout {
    font-size: 32px;
    color : var(--orange700);
    font-weight: 700;
    padding-left : 10px;
    margin-bottom: 20px;
    border-left : 10px solid var(--orange700); 
}



.intro_layout {
    width : 100%;
    position: relative;
    margin : 0 auto;
    border: 1px dashed var(--gray600);
    border-radius: 10px;
    box-shadow: 2px 3px 5px 0px var(--gray300);
    overflow: hidden;
    clear: both;
}

.intro_art1 {
    height: 500px ;
    width : 30%;
    float: left; 
    border-right: 1px solid var(--gray400);
    padding : 30px;
    /* overflow: hidden; */
}

.intro_art2 {
    width : 70%;
    float: left; 
    height : 500px;
    position: relative;
    /* overflow: hidden; */

    .intro_art2_div {
        padding : 25px;
        position: inherit;
        text-align: center;
        
        h1 {
            font-weight: 700;
            font-size: 32px;
            color: var(--gray500);
            
            &::before {
                content: '';
                background : url("../../public/images/title_60.png") 50% 50% no-repeat;
                width : 30px;
                height : 30px;
                display: inline-block;
            }

            &::after {
                content: '';
                background : url("../../public/images/title2_60.png") 50% 50% no-repeat;
                width : 30px;
                height : 30px;
                display: inline-block;
            }
        }
    }
    
}

.intro_art1_div {
    width : 100%;
    height : 100%;
    dl {

        width : 100%;
        height : 100%;

        dt {
            font-size : 17px;
            font-weight: 400;
            display: inline-block; 
            height : 250px;
            width: 100%;    
            display : flex;
            justify-content: center;

            img {
                position: absolute;
                top : 50px;
            }
        }

        dd {
            height : 150px;
            text-align: center;
            
            span {
                margin : 0 auto;
                font-size: 15px;
                width: 100%;
                position: relative;
                display: block;


                &::before {
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    margin-right: 5px;
                }
            }

            span:nth-child(1) {
                margin-left: -52px;
                &::before {
                    content: '';
                    background: url("../../public/images/name.png") center no-repeat;
                }
            }

            span:nth-child(2) {
                margin-left : -36px;
                &::before {
                    content: '';
                    background: url("../../public/images/cake.png") no-repeat;
                }
            }

            span:nth-child(3) {
                margin-left: -14px;
                &::before {
                    content: '';
                    background: url("../../public/images/phone.png") no-repeat;
                }
            }

            span:nth-child(4) {
                margin-left: 12px;
                &::before {
                    content: '';
                    background: url("../../public/images/email.png") bottom no-repeat;
                }
            }
        }
    }
}

.art1_Dd_profile {
    
    width : 100%;
    height : 100%;
    padding : 10px;
}

.introDown_div {

    text-align: center;
    margin-bottom: 40px;

    img {
        animation : motion 0.3s linear 0s infinite alternate ;
        cursor: pointer;
        margin : 0 auto;
    }

    span {
        position: absolute;
    }
}

@keyframes motion {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top : 10px;
    }
}

.intro_detail_1 {
    width           : 100%;
    height          : 300px;
    justify-content : center;
    display         : flex;
    position        : relative;

    dl {
        width : 22%;
        float : left;
        margin-right : 30px;
        border : 5px dashed var(--gray600);

        dd { 
            padding : 20px;
        }

        p {
            margin-bottom: 30px;
            margin-left: 10px;

            &::before {
                display: inline-block;
                position: absolute;
                content: '';
                background : url('../../public/images/check_iCon.png')  no-repeat;
                background-size: 15px;
                width : 20px;
                height : 20px;
                z-index: 9999;
                left : 43px;
                margin-top: 3px;
            }
        }
    }

    dl:nth-child(4) {
        margin-right : 0px !important;
    }
}

.skillDiv {
    width : 100%;
    border : 1px solid var(--gray300);
    border-radius: 10px;
}

.skillInner {
    padding : 30px;

    p {
        font-size: 22px;
        margin-bottom: 10px;
    }

    section {
        
        margin-bottom : 20px;
        margin-top : 20px;
        display: table;
        position: relative;

        img {
            float: left;
            height : 40px;
            margin-right : 10px;
        }
    }

    section:nth-child(0) {
        margin-bottom: auto;
    }
}


.projectItemsDiv {
    background-color : var(--white100);
    border-radius    : 10px;
    box-shadow       : rgba(0, 0, 0, 0.24) 0px 3px 8px;
    letter-spacing   : -1px;

    .items {
        padding    : 48px 36px 48px 60px;
        display    : grid;
        min-height : 420px;

        ul {
            display   : flex;
            flex-wrap : wrap;
            margin    : 0;
            padding   : 0;

            li {
                margin-right : 20px;
                height : 20px;
                margin : 0 24px 60px 0;
                float :  left;
                width : 302px;

                .items_div {
                    height : 320px;
                    background-color : #fff;
                    transition : all .15s linear;
                    cursor : pointer;
                    position  : relative;
                    display : block;
                    width : 302px;
                    overflow : hidden;
                
                    &:active {
                        box-shadow: 0 0 16px 0 rgba(0,0,0,.16);
                        transition: all .2s linear
                    }
                
                    &:hover {
                        box-shadow: 0 0 16px 0 rgba(0,0,0,.16);
                        transition: all .2s linear;
                        
                            img {
                                transition : all .6s cubic-bezier(.23,1,.32,1);
                                transform  : scale(1.1) translateZ(0);
                            }
                    }


                    .items_div_span_01 {
                        height  : 200px;
                        width   : 302px;
                        display : block;
                    }

                    .items_div_span_02 {
                        position : absolute;
                        top : 0;
                        left : 0;
                        display : block;
                        width : 100%;
                        height : 100%;
                        z-index: 15;
                    }

                    .items_div_span_02_a {
                        display: block;
                        padding-top: 224;
                        color : #17191d;
                    }

                    .items_div_span_02_span {
                        display : block;
                        height  : 36px;
                        width   : 262px;
                        margin : 0 auto;
                        word-wrap : break-word;
                        padding-right: 24px;
                        font-weight: 700 !important;
                        font-family : 'Pretendard-Regular';
                    }

                    .items_div_span_03 {
                        height: 32px;
                        width : 262px;
                        display: block;
                        margin : 50px auto 0;

                        span {
                            display : inline-block;
                            color : var(--orange700);
                            font-family : 'Pretendard-Regular';
                            font-weight: 700;
                        }
                    }

                    .items_div_span_04 {
                        height: 32px;
                        width : 262px;
                        margin-left : 18px;
                        margin-bottom: 19px;
                        font-weight: 700;
                        color : var(--gray500);
                    }
                }
            }
        }
    }
}
