@media (max-width: 1430px) {

    .layout-module__0iApWW__content_layout, .layout_content_layout__oP3Bb{
        width : 100% !important;
    }
    .layout-module__0iApWW__intro_layout, .layout_intro_layout__oB5rz  {
        overflow: hidden !important;
        width : auto !important;
        margin : 0 30px;
    }

    .layout-module__0iApWW__intro_art1, .layout_intro_art1__00v_Q {
        float: none !important;
        width : 100%;

    }

    .layout-module__0iApWW__intro_art2, .layout_intro_art2__jaMCF {
        float: none !important;
        width : 100% !important;
    }

    .layout-module__0iApWW__intro_detail_1, .layout_intro_detail_1__NrCsy  {
        display : block;
        height : auto;

        dl { 
            float :none;
            margin : 0 auto;
            width: 80%;
            margin-bottom: 30px;

            p {
                &::before {
                    display : none;
                }
            }
        }
       
        dl:nth-child(4) {
            margin-right : auto !important;
        }
    }

    .layout-module__0iApWW__skillDiv, .layout_skillDiv__QvrRa  {
        margin-left : 10px;
        margin-right : 50px;
        width : 97% !important;
    }

    .sc-bXdtCk  {
        margin-left : 30px;
    }

    dd {
        padding : 10px;
    }

    .layout-module__0iApWW__careerDiv, .layout_careerDiv__oL0X_  {
          margin-right : 50px;
        width : 97% !important;
        margin-left : 10px;
    }

    .layout-module__0iApWW__header_nav_ul, .layout_header_nav_ul__61qha {
        display : none;
    }

    .layout-module__0iApWW__mobile_btn, .layout_mobile_btn__pix8Q {
        display : block !important;
    }

}

@media (max-width: 360px) {
    .layout-module__0iApWW__intro_art1, .layout_intro_layout__oB5rz  {
        img {
            margin-left: 5% !important;
        }
    }

    .layout-module__0iApWW__intro_art1_div, .layout_intro_art1_div__2ylhz {
      span {
        font-size: 12px !important;
      }
    }
    .layout-module__0iApWW__intro_art2_div, .layout_intro_art2_div___KuzW  {
        h1 {
            font-size: 17px !important;
        }
    }

}