@media (max-width: 1430px) {

    .layout-module__0iApWW__intro_layout {
        overflow: visible !important;
        width : auto !important;
    }

    .layout-module__0iApWW__intro_art1 {
        float: none !important;
        width : 100%;
    }

    .layout-module__0iApWW__intro_art2 {
        float: none !important;
    }
}